<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate" [(ngModel)]="hotel.name" formControlName="name" [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
        <label for="name" [class.active]="hotel.name" data-error="Name is required">
          Name
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">stars</i>
        <input id="stars" type="text" class="validate" [(ngModel)]="hotel.stars" formControlName="stars" [class.invalid]="form.controls['stars'].touched && !form.controls['stars'].valid">
        <label for="stars" [class.active]="hotel.stars" data-error="Stars is required">
          Stars
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">euro_symbol
          </i>
        <input id="price" type="text" class="validate" [(ngModel)]="hotel.price" formControlName="price" [class.invalid]="form.controls['price'].touched && !form.controls['price'].valid">
        <label for="price" [class.active]="hotel.price" data-error="price is required">
          Price
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">picture_in_picture
          </i>
        <input id="images" type="text" class="validate" [(ngModel)]="hotel.images" formControlName="images" [class.invalid]="form.controls['images'].touched && !form.controls['images'].valid">
        <label for="images" [class.active]="hotel.images" data-error="images is required">
          Images
        </label>
      </div>
    </div>
   
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
